.Link {
    text-decoration: none;
    color: inherit;
}

.card {
    align-items: center;
    animation: card-in 1s;
    background-color: white;
    border: 2px solid rgb(91 60 136);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 250px;
    margin: 0px 0px 0px 20px;
    padding: 20px;
    transition: 150ms;
    width: 190px;
}

.card:hover {
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.192);
    transform: scale(1.03) translatey(-5px);
    transition: 200ms;
}

@keyframes card-in {
    0% {
        opacity: 0;
        transform: scale(0.9);
    } 100% {
        opacity: 1;
        transform: scale(1);
    }
}


.card-img-div {
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(91 60 136);
    border-radius: 10px;
    height: 70px;
    padding: 15px;
    width: 70px;
}

.card-img {
    height: 70px;
    width: 70px;
}

.card-text {
    display: flex;
    flex-direction: column;
}

.card-title {
    text-align: center;
    margin: 30px 0px 15px 0px;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 1px;
}

.card-description {
    text-align: center;
    width: 220px;
    font-size: 14px;
    vertical-align: middle;
    margin: 7px 0px 0px 0px;
}