

.content {
    animation: content-in 1s;
    display: flex;
    flex-direction: column;
    margin-top: -33px;
    position: relative;
    width: 90vw;
    z-index: 0;
}

@keyframes content-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#lock-screen {
    animation: content-in 200ms;
    background-color: rgba(0, 0, 0, 0.075);
    display: none;
    height: 100vh;
    left: 0;
    position: absolute;
    top: 0;
    transition: 200ms;
    width: 100vw;
    z-index: 1;
}

#lock-screen.exiting {
    opacity: 0;
    transition: 200ms;
}

#previous {
    color: grey;
    cursor: default;
    font-size: 1.5rem;
    margin-right: 7px;
    transition: 200ms;
}

#previous:hover {
    color: black;
}

#title {
    align-items: center;
    border-bottom: 2px solid #5b3c88;
    cursor: default;
    display: flex;
    font-size: 1.8rem;
    font-weight: 700;
    margin-top: 10px;
    padding: 5px;
    user-select: none;
    width: 90vw;
}