#cart-place-container {
    border-radius: 9px;
    margin-top: 20px;
    width: 45vw;
}

#cp-header {
    background-color: rgb(220, 220, 220);
    border-radius: 7px 7px 0 0;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    font-size: 1.8rem;
    font-weight: 800;
}

#cp-places-list {
    width: 100%;
    display: grid;
}

.cp-place {
    border-bottom: 2px solid rgb(199, 199, 199);
    display: grid;
    font-size: 1.5rem;
    font-weight: 500;
    grid-template-columns: 30% 55% 20%;
    transition: 200ms;
}

.cp-place:hover {
    background-color: rgb(240, 240, 240);
}

.cp-title {
    cursor: default;
    padding: 11px 0 11px 30px;
}

.cp-street {
    cursor: default;
    padding: 11px 0 11px 30px;
}

.cp-icons {
    display: flex;
}

.google-maps-img {
    cursor: pointer;
    width: 30px;
    padding: 2px;
    margin-top: 3px;
    opacity: 0.5;
    transition: 200ms;
}

.google-maps-img:hover {
    opacity: 1;
}

.cp-icon {
    opacity: 0.3;
    padding: 6px 3px 6px 5px;
    transition: 200ms;
    width: 23px;
}
/* 
.cp-icon:hover {
    opacity: 0.8;
    width: 23px;
    transition: 200ms;
} */


